@font-face {
  font-family: 'custom-material-icons';
  src:  url('fonts/custom-material-icons.eot?z2otbk');
  src:  url('fonts/custom-material-icons.eot?z2otbk#iefix') format('embedded-opentype'),
    url('fonts/custom-material-icons.ttf?z2otbk') format('truetype'),
    url('fonts/custom-material-icons.woff?z2otbk') format('woff'),
    url('fonts/custom-material-icons.svg?z2otbk#custom-material-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'custom-material-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mood:before {
  content: "\e90b";
}
.icon-cloud_upload:before {
  content: "\e900";
}
.icon-outline-print:before {
  content: "\e901";
}
.icon-format_italic:before {
  content: "\e902";
}
.icon-format:before {
  content: "\e903";
}
.icon-star_border:before {
  content: "\e904";
}
.icon-person:before {
  content: "\e905";
}
.icon-cancel:before {
  content: "\e906";
}
.icon-event:before {
  content: "\e907";
}
.icon-share:before {
  content: "\e908";
}
.icon-add:before {
  content: "\e909";
}
.icon-account_box:before {
  content: "\e90a";
}
